.container {
    text-align: right; // Cambiado a la izquierda
    margin-top: 65px;
    padding-left: 20px; // Espaciado a la izquierda
  }
.boton-regreso{
    
        background-color: blue;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
      
        &:hover {
          background-color: darken($primary-color, 10%); // Oscurecer el color al pasar el ratón
       }
}